body
{
    background:url('./image/TF.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.head
{
    background: rgba(14, 40, 190, 0.979);
    height: 200px;
    width: 3500px;
    margin-top:600px;
    margin-left: 900px;
}
h1
{
    text-align: center;
    color: antiquewhite;
    font-size: 100px;
    padding: 40px;
    font-display: inherit;
}
h5
{
    text-align: center;
    color: rgb(37, 40, 213);
    font-size: 100px;
    font-display: inherit;
}
.box
{   
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    margin-left: 900px;
    height: 1799px;
    width: 3500px;
    opacity: 0.8;
}
.first
{
    margin-top: 40px;
    margin-left: 60px;
}

.second
{
    margin-top: 0px;
}
.image
{
    width: 500px;
    height: 400px;
    border-radius:  70px;
    margin-left:  0px;
    margin-top:  0px;
    padding: 25px;
}